#drawing {
    height: 30em;
}

.problem {
    /* border: 1px solid #ffffff; */
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 500px;
    justify-items: center;
    align-items: center;
    margin: auto;
}

.side {
    /* border: 1px solid #ffffff; */
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
}

.side img {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    margin: 10px;
}

.vertical-line {
    width: 1px;
    background-color: #ffffff;
    height: 100%;
    margin: 10px;
}

.spoiler {
    background-color: #ffffff;
}

.spoiler:hover {
    background-color: #121212;
}

.poem {
    font-style: italic;
    line-height: 2em;
}

.text-and-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

li {
    height: 3em;
}

a {
    color: #96daff;
}

a:visited {
    color: #a691d4
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    background-color: #121212;
}